.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card__img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -5px rgba(47, 47, 47)
}

.card__text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card__title {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 400;
}

.card__descr {
    margin: 0;
    font-size: 16px;
    color: brown;
}

.card__stars-wrap {
    display: flex;
    gap: 3px;
}

.card__stars-wrap button {
    padding: 0;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card__star-icon path {
    stroke: rgb(213, 102, 58);
    stroke-width: 1.5;
}

.card__star-icon {
    width: 22px;
    height: 22px;
    transition: fill .4s ease;
}

.card__stars-wrap button:hover .card__star-icon {
    fill: rgba(255, 174, 44, 0.991);
}

.card__stars-wrap button:active .card__star-icon,
.star-active {
    fill: rgb(213, 102, 58)
}


