:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	margin-right: calc(-1 * (100vw - 100%));
	overflow-x: hidden;
}

body {
	margin: 0 auto;
	min-height: 100vh;
}

#root {
	margin: 0 auto;
	padding: 1rem;

	min-width: 320px;
	max-width: 1000px;
	width: 100%;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
