body {
    background-color: rgb(151, 175, 191);
    font-family: Verdana, Tahoma, sans-serif;
}

.modal {
    display: none;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    top: 0;
    max-width: 600px;
    min-height: 200px;
    padding: 20px;
    padding-left: 40px;
    transform: translateY(50%);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.modal-img {
    max-width: 150px;
}

.modal-message {
    margin: 0 0 20px;
}

.modal-btn {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


