html,
body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background: #fffaf8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  border-bottom: 1px solid #e0dada;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0 50px;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.profile {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile img {
  width: 100%;
  height: 100%;
}

main {
  flex: 1 1 0;
}

footer {
  display: flex;
  justify-content: center;
  gap: 96px;
  height: 50px;
  padding: 24px 0 48px;
  color: rgb(145, 83, 83);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}

.corporation {
  align-self: flex-end;
}
