
.playlists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.playlists a {
    color: cornflowerblue;
    cursor: pointer;
    transition: color .3s ease;
}

a:hover  {
    color: rgb(194, 203, 218);
}

a:hover  .playlists__btn {
    background-color: rgb(101, 119, 153);
}

.playlists .playlists__btn {
    background-color: rgb(56, 65, 82);
    max-width: fit-content;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: default;
}
.playlists__btn-return {
    position: absolute;
    right: 0;
    font-size: 0.85em;
    background-color: rgba(46, 57, 100, 0.87);
    color: #adbfef;
    border: none;
    padding: 2px 6px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .4s ease, transform .3s ease;
}

.playlists__btn-return:hover {
    background-color: rgba(37, 69, 85, 0.87);
    transform: scale(1.02);
}

