body {
    font-family: Verdana, sans-serif;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 50px;
}
/* таблица */

.btn-main {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: rgb(102, 110, 172);
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, background-color .3s ease-in-out;
}

.btn-main:hover {
    background-color: rgb(135, 135, 198);
}

.btn-main:active {
    background-color: rgb(48, 48, 73);
    transform: scale(.97);
}

#students-list {
    text-align: left;
}

/* карточка студента */
.student-cart {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.header-form-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.student-form {
    display: none;
    position: absolute;
    margin: 0 auto;
    padding: 20px;
    min-width: 650px;
    max-height: 350px;
    text-align: left;
    font-size: 14px;
    border-radius: 5px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(181, 181, 181);
    font-size: 12px;
}

.input-wrap {
    margin-bottom: 10px;
}
.input-wrap:not(:last-child) {
    margin-right: 10px;
}

.input {
    padding: 10px 10px;
    /* width: 80%; */
    border-style: none;
    border-radius: 5px;
    border: 1px solid #858585;
    cursor: pointer;
}

.input:focus-visible {
    outline: none;
    outline: 2px solid rgb(135, 135, 198);
}

.input-wrap:nth-last-child(2),
.input-wrap:last-child{
    margin-bottom: 0;
}

.input-faculty {
    min-width: 380px;
    max-width: max-content;
}

.date-wrap {
    display: flex;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
}

.btn-wrap {
    margin-left: auto;
    align-self: flex-end;
    display: block;
    width: max-content;
   
}

#btn-form {
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: rgb(102, 110, 172);
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, background-color .3s ease-in-out;
}

#btn-form:active,
#btn-reset:active {
    transform: scale(.95);
}

#btn-form:hover {
    background-color: rgb(135, 135, 198);
}

#btn-reset {
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid #858585;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
}

svg {
    align-self: flex-end;
    cursor: pointer;
    fill: #B0B0B0;
    transition: transform 0.3s ease-in-out, fill 0.4s ease-in-out;
}

svg:hover {
    fill: rgb(65, 74, 143);
    transform: scale(1.1);
}
svg:active:not(:hover) {
    fill: rgb(0, 0, 0);
    transform: scale(1);
}

/* затемнение фона */
#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

/* при нажатии на крест */
.prompt {
    display: none;
    position: absolute;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #4a4a4a;
    padding: 50px 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9000;
}

.question_title {
font-size: 14px;
color: #ffffff;
}

.ques_btn {
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 2px;
    border: none;
    color: #000000;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

/* фильтр */
.filter-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.inp-filt {
    font-size: 14px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid #858585;
    cursor: pointer;
}

.inp-filt::placeholder {
    font-size: 12px;
}

.inp-date {
    width: 200px;
}

.btn-filt {
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    background-color: rgb(151, 158, 208);
}